/* Intro CSS */

* {
  box-sizing: border-box;
}

.general-background {
  background-attachment: fixed;
  position:fixed;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.opening {
  background: url('../asset/img/opening/ninja_goemon_opening2.jpg') no-repeat center center;
  background-size: cover;
}

.credit {
  background: url('../asset/img/opening/ninja_goemon_credit.jpg') no-repeat center center;
  background-size: cover;
}

.general-panel {
  background-color: black;
  opacity: 0.8;
  font-size: 18px;
  border-radius: 30px 30px;
  position: fixed;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.mid-panel {
  padding: 5px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 78%;
  width: 57.5%;
}

.text {
  color: white;
  text-align: center;
}

h4 {
  color:orange;
}

.button {
  position: fixed;
  cursor: pointer;
}

#start {
  top: 65%;
  left: 40%;
}

#credit {
  top: 76%;
  left: 37%;
}

#back {
  bottom: 19%;
  left: 0.5%;
}

#male-ninja {
  cursor: default;
}

#female-ninja {
  cursor: default;
  top: -12%;
  left: 50%;
}
